// SWC will be disabled by custom Babel configuration for styled components integration
// https://nextjs.org/docs/messages/swc-disabled
{
	"presets": ["next/babel"],
	"plugins": [
		["styled-components", { "ssr": true }],
		["import", { "libraryName": "antd", "style": true }],
		["module-resolver", { "alias": { "@": "./src" } }]
	],
	"ignore": [
		"**/__fake-data__", // ignore the whole fake-data directory
	]
}
